.servers-dashboard {
  .page-content {
    max-width: 1100px;
    padding: 2rem;
    margin: 4rem auto 0;
    #dashboard-title {
      font-size: 3rem;
      font-family: 'Roboto';
      color: #252525;
      margin: 0 0 2rem 0;
    }
    #servers-container {
      display: flex;
      flex-direction: row;
      padding: 2rem;
      flex-wrap: wrap;
      width: 1150px;
      .server {
        position: relative;
        border-radius: 20px;
        margin: 1rem;
        width: 200px;
        height: 200px;
        padding: 1rem;
        box-shadow: 0 4px 5px #00000041;
        overflow: hidden;
        &.is-current {
          outline: 3px solid cornflowerblue;
          box-shadow: 0 4px 5px rgba(100, 148, 237, 0.52);
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}