@import 'colors';

html, body, :host { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-height: 100vh;
 }

// Colors
.muted {
  color: #00000082;
}

// Typography
h1 {
  font-size: 3rem !important;
  margin: 0 0 2rem 0 !important;
}
h2.section-heading {
  color: $darkgreen;
  width: 100%;
  font-weight: 300;
  border-bottom: 1px solid #ace4ab;
  font-size: 1.8rem;
  margin: 2rem 0;
  padding: .8rem 0;
}

// Alignment
.page-content {
  padding: 3rem 2rem;
  position: relative;
  .main-section {
    max-width: 1100px;
    padding: 2rem;
    margin: 0 auto;
  }
}
.d-flex {
  display: flex;
  flex-direction: row;
}
.mat-icon-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40
}
* {
  box-sizing: border-box;
}

// Buttons
.btn{
  color: #fff !important;
  padding: 1.3rem !important;
  outline: none;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  transition: background-color .2s ease-in-out;
  box-shadow: 0 3px 4px darken($blue, 20%);
  &:hover {
    cursor: pointer;
    transition: background-color .2s ease-in-out;
  }
}
.btn-blue {
  @extend .btn;
  background-color: $blue !important;
  &:hover {
    background-color: darken($blue, 8%) !important;
  }
}

// Spacing
.page-title-wrapper {
  margin-bottom: 2rem;
}

// Material Spinner
.mat-mdc-progress-spinner circle {
  stroke: $blue;
}

// Forms
form {
  width: 500px;
  height: fit-content;  
  .close {
    border-radius: 5px;
    &:hover {
      background-color: #00000017;
      cursor: pointer;
    }
  }
  .close > .icon {
    width: 30px;
    height: 30px;
    font-size: 30px;
    color: #fff;
    position: relative;
    top: 3px;
    line-height: 1.9rem;
  }
  .title {
    padding: 1rem;
    background-color: $green;
    // border-bottom: 4px solid darken($green, 7%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h2 {
    margin: 0 !important;
    padding: 0;
    color: #fff;
    font-size: 1.8rem !important;
    position: relative;
    top: 2px;
  }
  label {
    font-size: .9rem;
    display: block;
    color: lighten(#000, 60%);
  }
  input {
    border: none;
    border-bottom: 1px solid lighten(#000, 70%);
    padding: .5rem 0;
    &:focus {
      outline: none;
    }
  }
  select {
    padding: .5rem;
  }
  input, select {
    margin: .3rem 0 1.5rem 0;
    min-width: 300px;
    font-size: 1.2rem;
  }
  button.submit {
    display: block;
  }
}
.modal {
  z-index: 999;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  .overlay {
    background-color: #000;
    opacity: .6;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  form {
    background-color: #fff;
    position: relative;
    top: calc(50% - 300px);
    left: calc(50% - 250px);
    box-shadow: 0 0 20px #00000060;
    .close {
      position: absolute;
      right: 10px;
      top: 10px;
    }
    .content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 2rem;
      button.submit {
        margin: 1rem 0 0;
        width: 100%;
      }
    }
  }
}
