@import 'colors';

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
 }

// Colors
.muted {
  color: #00000082;
}

// Typography
h1 {
  font-size: 3rem !important;
  margin: 0 0 2rem 0 !important;
}
h2.section-heading {
  color: $darkgreen;
  width: 100%;
  font-weight: 300;
  border-bottom: 1px solid #ace4ab;
  font-size: 1.8rem;
  margin: 2rem 0;
  padding: .8rem 0;
}

// Alignment
.page-content {
  padding: 3rem 2rem;
  position: relative;
  .main-section {
    max-width: 1100px;
    padding: 2rem;
    margin: 0 auto;
  }
}
.d-flex {
  display: flex;
  flex-direction: row;
}
.mat-icon-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40
}
* {
  box-sizing: border-box;
}