<div id="toolbar" class="main-navigation">
  <mat-icon class="icon mat-icon-outlined" id="logo">landscape</mat-icon>
  <button mat-button [matMenuTriggerFor]="environmentsMenu" [disableRipple]="true" class="menu-button">Environments</button>
  <button mat-button [disableRipple]="true" class="menu-button" routerLink="/servers">All Servers</button>
  <button mat-button [matMenuTriggerFor]="serverMenu" [disableRipple]="true" id="manage-server" [class]="['menu-button', 'highlight', isServerPageActive ? '' : 'hidden']">Manage Server</button>
  <button mat-button [disableRipple]="true" id="settings" class="menu-button">Settings</button>
  


  <mat-menu #environmentsMenu="matMenu">
    <button mat-menu-item *ngFor="let environment of environments" (click)="updateCurrentEnvironment(environment.Name)">{{environment.Name}}</button>
  </mat-menu>  

  <mat-menu #serverMenu="matMenu">
    <button mat-menu-item [routerLink]="getRouterLink('')">Overview</button>
    <button mat-menu-item [routerLink]="getRouterLink('file-manager')">File Manager</button>
    <button mat-menu-item [routerLink]="getRouterLink('ssh')">SSH</button>
    <button mat-menu-item [routerLink]="getRouterLink('vhosts')">VHosts</button>
    <button mat-menu-item [routerLink]="getRouterLink('metrics')">Metrics</button>
    <button mat-menu-item [routerLink]="getRouterLink('ssl-tls')">SSL Certificates</button>
  </mat-menu>  
</div>
