@import 'colors';

#toolbar {
  background-color: $green;
  color: #fff;
  font-size: 1.5rem;
  width: 100%;
  margin: 0;
  display: flex;
  // justify-content: flex-end;
  align-items: center;
  #logo {
    padding: 0 2rem;
    margin: 0;
    font-size: 30px;
  }
  button {
    position: relative;
    top: 1px;
    padding: 0 1rem;
  }
  * {
    display: inline-block;
    color: #fff;
  }
}
.site-title {
  padding: 0 1rem;
}