@import 'src/styles/colors';
.page-title {
  display: inline;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

#database-list {
  width: 300px;
  height: 600px;
  background-color: #fff;
  border-left: 12px solid $blue;
  overflow-y: scroll;
  box-shadow: 0 2px 5px #46464645;
  border-radius: 5px;
  .item {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.121);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: .5rem 1rem;
    flex-direction: column;
    .name {

    }
    .details {
      font-size: 12px;
      display: flex;
      flex-direction: row;
      .distribution {
        margin-right: 5px;
      }
      .size {

      }
    }
    &:hover {
      background-color: #f0f0f0;
      cursor: pointer;
    }

  }
}

#database-overview {
  padding: 0 3rem;
  .name {
    display: inline
  }
  .size {
    font-size: 1.4rem;
    display: inline-block;
    font-weight: 300;
    position: relative;
    bottom: 2px;
    left: 10px;
  }
}
#backup-btn {
  margin: -1rem 0 0 2rem !important;
}
#add-database-btn {
  margin: -1rem 0 0 2rem !important;
}
.modal {
  z-index: 999;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  .overlay {
    background-color: #000;
    opacity: .6;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  form {
    .content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 2rem;
      button.submit {
        margin: 1rem 0 0;
        width: 100%;
      }
    }

    width: 500px;
    height: 600px;
    background-color: #fff;
    position: relative;
    top: calc(50% - 300px);
    left: calc(50% - 250px);
    box-shadow: 0 0 20px #00000060;
  }
}