<h2>Databases</h2>

<div class="wrapper">
  <div id="database-list">
    <div *ngFor="let database of databases" class="item">
      <div class="name">{{database.name}}</div>
      <div class="details">
        <div class="distribution muted">{{database.distribution}}{{database.distributionVersion}}</div>
        <div class="size muted">{{database.size}}kb</div>
      </div>
    </div>
  </div> 
  
  <div id="database-overview">
    <h1 class="name">myfirstdb</h1>
    <h2 class="size muted">(56kb)</h2>
    <button class="backup" mat-button>Download Backup<mat-icon class="icon mat-icon-outlined">cloud_download</mat-icon></button>
  </div>
</div>
