<h2>Connect To Server</h2>

<section>
  <h2 class="section-heading">Using SSH</h2>
  <mat-card class="">
    <mat-card-content>
      <h3>Enter the following into a terminal:</h3> 
      <p>{{sshCommand}}</p><span><mat-icon class="icon mat-icon-outlined" (click)="copyCommand(sshCommand)">content_copy</mat-icon></span>
    </mat-card-content>
  </mat-card>
</section>

<section>
  <h2 class="section-heading">Using PEM Key</h2>
  <mat-card class="">
    <mat-card-content>
      <h3>Enter the following into a terminal:</h3> 
      <p>{{pemCommand}}</p><span><mat-icon class="icon mat-icon-outlined" (click)="copyCommand(pemCommand)">content_copy</mat-icon></span>
    </mat-card-content>
  </mat-card>
</section>