@import 'src/styles/colors';

#toolbar {
  background-color: $blue;
  color: #fff;
  font-size: 1.5rem;
  position: absolute;
  width: 100%;
  margin: 0;
  top: 0;
  left: 0;
  display: flex;
  padding-left: 1rem;
  box-shadow: 0 4px 8px #00000049;
  z-index: 1;
  // justify-content: center;
  align-items: center;
  h2 {
    padding: 0 1rem;
    margin: 0;
    width: 200px;
    &:hover {
      cursor: pointer;
    }
  }
  button {
    position: relative;
    top: 1px;
    padding: 0 1rem;
  }
  * {
    display: inline-block;
    color: #fff;
  }
}
.outlet-wrapper {
  padding: 2rem 0;
}