/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Colors
.muted {
  color: #00000082;
}

// Typography
h1 {
  font-size: 3rem !important;
  margin: 0 0 2rem 0 !important;
}

// Alignment
.page-content {
  padding: 3rem 2rem;
  .main-section {
    max-width: 1100px;
    padding: 2rem;
    margin: 0 auto;
  }
}
.d-flex {
  display: flex;
  flex-direction: row;
}